<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Práctica 14 - Programación Web</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">PWEB FORMS</a>
        <div class="dropdown"  style="right: 0;position: fixed;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${user.username}"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit" style=""> SALIR</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="card" style="margin-left: 25%;margin-right: 25%;margin-top: 5%;">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h2 class="card-title">CHART</h2>
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <p style="font-size: 24px"><span class="badge badge-success">A.</span> ¿Las charlas donde usted participó cumplieron con sus expectativas?</p>
                <p style="font-size: 24px"><span class="badge badge-primary">B.</span> ¿Los expositores mostraron tener dominio del tema?</p>
                <p style="font-size: 24px"><span class="badge badge-danger">C.</span> ¿Las instalaciones del evento fueron confortables para usted?</p>
                <div id="piechart" style="align-self: center"></div>
                <p style="font-size: 24px"><span class="badge badge-warning">D.</span> ¿Tiene algún comentario para los organizadores?</p>
                <textarea class="form-control" id="exampleTextarea" rows="5" th:text="${form.question4}" readonly></textarea>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var form = /*[[${form}]]*/ 'default';
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['A', form.question1],
            ['b', form.question2],
            ['C', form.question3],
        ]);
        var options = {'title':'RESULTS', 'width':800, 'height':600, colors: ['#28b62c','#158cba', '#ff4136']};
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
    /*]]>*/
</script>
</html>